@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@100..900&display=swap");
/* this design is for big screen >= 1414px width */
:root {
  /* --main-bg-color: hsl(228 25% 6%);  */
  --main-bg-color: #040914;
  --main-bg-color-1: #16213e;

  --light-color: hsl(0, 0%, 51%);
  --input-color: rgb(55, 65, 81);
  --white-color: #fff;
  --color-bg1: #5f6bef;
  --color-bg2: #2bace7;
  --color-bg3: #5f6bef73;
  --color-bg4: #2babe75c;
  --color-bg5: rgba(159, 29, 185, 0.176);
  --color-bg6: rgba(230, 30, 213, 0.067);
  --color-bg7: #5f6bef3b;
  --color-bg8: #2babe734;
  --card-color: rgba(84, 84, 84, 0.067);

  --box-shadow: 0 2px 25px rgba(3, 106, 249, 0.2),
    0 0 38px rgba(1, 63, 156, 0.2), 0 0 60px rgba(3, 93, 248, 0.2);
  --container-width-lg: 95%;
  --container-width-small: 90%;
  --container-width-ex-small: 86%;
  --transition: all 400ms ease;
  --border-radius: 1rem;
  --search-padding: 0.4rem 1rem;
  --card-border-radius: 1rem;
  --transition: 300ms;
  --font-family: poppins, sans-serif;
  --font-family-1: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--font-family-1);
  /* background: radial-gradient(ellipse at bottom, #050d1e 0%, #000000 100%); */
  background: var(--main-bg-color);
  color: var(--white-color);
  line-height: 1.7;
  width: 100%;
  position: relative;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
section {
  padding: 6rem 0;
  backdrop-filter: blur(10px);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--white-color);
  line-height: 1.3;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}
p {
  font-size: 20px;
  color: var(--light-color);
  line-height: 1.6;
  font-weight: 500;
  width: 100%;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--main-bg-color);
  color: var(--white-color);
  border: 1px solid transparent;
  font-weight: 600;
  transition: var(--transition);
  font-family: var(--font-family);
  border-radius: 1rem;
}

.menu-btn {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  display: none;
  background: var(--color-bg2);
}
.menu-btn .fa-bars {
  font-size: 1rem;
}
.menu-btn .fa-x {
  display: none;
  font-size: 1rem;
}
/* Navigation */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  position: sticky;
  top: auto;
  bottom: 0;
  z-index: 1000;
  width: 100%;
}
.navigation .logo {
  background: linear-gradient(90deg, var(--color-bg2), var(--white-color));
  color: transparent;
  background-clip: text;
  font-size: 28px;
  font-family: var(--font-family-1);
  font-weight: 600;
  transition: all 0.3s ease;
}
.window-scroll {
  border: var(--color-bg1) 1px solid;
}
.navigation nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  position: fixed;
  top: 0;
  height: 10%;
  border-radius: 1rem;
  padding: 10px 2px;
  backdrop-filter: blur(10px);
  background: linear-gradient(90deg, var(--color-bg7), var(--color-bg8));
}
.navigation nav ul {
  display: flex;
  gap: 1.2rem;
  font-size: 1rem;
  font-family: var(--font-family);
}
/* hero section */

.Portfolio-hero {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Portfolio-hero .portfolio-box {
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.Portfolio-hero .portfolio-box article {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
}

.Portfolio-hero .portfolio-box article h1 {
  font-size: 100px;
  background: linear-gradient(90deg, var(--color-bg1), var(--color-bg2));
  background-clip: text;
  color: transparent;
  text-align: center;
}
.Portfolio-hero .portfolio-box article h1:nth-child(2) {
  color: var(--white-color);
}

.Portfolio-hero .portfolio-box article h4 {
  font-size: 24px;
  font-weight: 400;
  display: flex;
  line-height: 3rem;
  background: linear-gradient(
    90deg,
    var(--warning-color),
    var(--main-bg-color-1)
  );
  background-clip: text;
  color: transparent;
  color: var(--white-color);
  letter-spacing: 0.1rem;
}
.Portfolio-hero .portfolio-box article h4 span {
  color: var(--color-bg1);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}
.Portfolio-hero .portfolio-box article h4 span img {
  width: 2.1rem;
  height: 2.1rem;
  display: inline;
}

.Portfolio-hero .portfolio-box .hero-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}
.Portfolio-hero .portfolio-box .hero-btns a {
  background: var(--color-bg1);
  padding: 1rem 4rem;
  color: var(--white-color);
  border-radius: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: transparent;
}
.Portfolio-hero .portfolio-box .hero-btns a:hover {
  transform: scale(1.1);
  background: var(--main-bg-color);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.Portfolio-hero .portfolio-box .hero-btns a:last-child {
  background: rgba(255, 255, 255, 0.01);
}
.Portfolio-hero .portfolio-box .hero-btns a:last-child {
  box-shadow: var(--box-shadow);
  border: var(--color-bg1);
}
.Portfolio-hero .portfolio-box .hero-btns a:last-child:hover {
  background: var(--color-bg1);
}
.scroll-icon {
  margin-top: 3rem;
  /* animation: name duration timing-function delay iteration-count direction fill-mode;
   */
  animation-name: scroll-icon;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes scroll-icon {
  from {
    transform: translateY(-45%);
  }
  to {
    transform: translateY(0);
  }
}
.scroll-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  color: gray;
}
/* about */
.about__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__container .about__left {
  width: 50%;
  height: 320px;
  position: relative;
}
.about__container .about__left .color-ball {
  position: absolute;
  top: -50px;
  left: 240px;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  z-index: 5;
  color: white;
  animation-name: ball-color;
  box-shadow: var(--box-shadow);
  background: linear-gradient(90deg, var(--color-bg1), var(--color-bg2));
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
.about__container .about__left .color-ball-2 {
  position: absolute;
  bottom: 120px;
  right: 175px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  z-index: 4;
  color: white;
  animation-name: ball-color;
  background: linear-gradient(90deg, var(--color-bg1), var(--color-bg2));
  box-shadow: var(--box-shadow);
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
.about__container .about__left .color-ball-3 {
  position: absolute;
  bottom: -20px;
  left: 0px;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  z-index: 5;
  box-shadow: var(--box-shadow);
  animation-name: ball-color;
  background: linear-gradient(90deg, rgb(159, 29, 185), rgb(230, 30, 213));
  /* background: linear-gradient(90deg, rgb(159, 29, 185), rgb(230, 30, 213)); */
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes ball-color {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(50%);
  }
}
.portfolio-image {
  width: 320px;
  height: 320px;
  background: linear-gradient(90deg, var(--color-bg7), var(--color-bg8));
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  box-shadow: var(--box-shadow);
}

.portfolio-image:hover {
  transform: scale(1.1);
  background: var(--main-bg-color);

  cursor: pointer;
}
.about__container .about__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.about__right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.about__right h1 {
  background: linear-gradient(90deg, var(--color-bg1), var(--color-bg2));
  color: transparent;
  background-clip: text;
  font-size: 48px;
  font-family: poppins, sans-serif;
  font-weight: 700;
  transition: all 0.3s ease;
}

.my-skills {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-direction: column;
}
.my-skills h2 {
  font-size: 32px;
  color: var(--white-color);
  margin-bottom: 1rem;
}
.my-skills .skills-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.skill-card {
  background: var(--card-color);
  padding: 0.5rem 2rem;
  max-width: 120px;
  gap: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: var(--border-radius);
  transition: all 0.3s ease;
}
.skill-card span {
  font-size: 2rem;
}
.skill-card:hover {
  background: linear-gradient(90deg, var(--color-bg7), var(--color-bg8));
  transform: scale(1.1);
  transform: rotate3d(1, 1, 1, -18deg);
  box-shadow: var(--box-shadow);
}
.skill-card:nth-child(2):hover {
  transform: rotate3d(1, 1, 1, 18deg);
}
.skill-card:nth-child(4):hover {
  transform: rotate3d(1, 1, 1, 18deg);
}
.count-boxes {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  align-items: center;
  width: 100%;
}
.count-boxes .cunt-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cunt-box h3 {
  color: var(--color-bg2);
}
.cunt-box span {
  font-size: 0.66rem;
}
/* projects */
/* projects */
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.projects-container .projects-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
}

.projects-container .projects-header h1 {
  background: linear-gradient(90deg, var(--color-bg1), var(--color-bg2));
  color: transparent;
  background-clip: text;
  font-family: poppins, sans-serif;
  font-weight: 600;
  transition: all 0.3s ease;
}

.projects-container .projects-header p {
  color: var(--light-color);
  max-width: 650px;
  font-size: 1rem;
  text-align: center;
}

.projects-container .projects-body {
  height: 100%;
  display: flex;
  padding: 0 2rem;
  gap: 2rem;
  z-index: 2;
  flex-wrap: wrap;
}

.projects-container .projects-body .project-bg-ball {
  z-index: -1;
  width: 20rem;
  height: 20rem;
  right: 0;
  top: 0%;
  position: absolute;
  background: linear-gradient(90deg, var(--color-bg5), var(--color-bg6));
  border-radius: 50%;
  animation-name: project-ball;
  animation-duration: 30s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes project-ball {
  0% {
    right: 0%;
    top: 0%;
  }
  15% {
    top: 15%;
    right: 15%;
  }
  25% {
    right: 20%;
    top: 25%;
  }
  30% {
    right: 25%;
    top: 35%;
  }
  35% {
    right: 30%;
    top: 40%;
  }
  45% {
    right: 40%;
    top: 45%;
  }
  55% {
    right: 50%;
    top: 55%;
  }
  65% {
    right: 55%;
    top: 65%;
  }
  75% {
    right: 65%;
    top: 75%;
  }
  85% {
    right: 75%;
    top: 85%;
  }
  95% {
    right: 85%;
    top: 95%;
  }
  100% {
    right: 96%;
    top: 100%;
  }
}

.projects-container .projects-body .project-data {
  width: 100%;
  max-width: 420px;
  height: auto;
  border-radius: 2rem;
  overflow: hidden;
  border: none;
  background: var(--card-color);
  position: relative;
  z-index: 10;
  transition: all 0.3s ease;
}

.projects-container .projects-body .project-data:hover {
  background: linear-gradient(90deg, var(--color-bg7), var(--color-bg8));
  overflow: hidden;
  backdrop-filter: blur(70px);
  border: none;
  box-shadow: var(--box-shadow);
}

.projects-container .projects-body .project-data .project-img {
  position: relative;
  height: 200px;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.projects-container .projects-body .project-data .project-img img {
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-container .projects-body .project-data:hover .project-img img {
  transform: scale(1.1);
  overflow: hidden;
}

.projects-container .projects-body .project-data .projects-btns {
  opacity: 0;
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: var(--transition);
}

.projects-container .projects-body .project-data:hover .projects-btns {
  opacity: 1;
  transition: all 0.3s ease;
  backdrop-filter: blur(2px);
  background: rgba(119, 6, 240, 0.01);
}

.projects-container .projects-body .project-data .projects-btns a {
  background: var(--color-bg1);
  padding: 0.5rem 1rem;
  border-radius: 0.89rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}

.projects-container .projects-body .project-data .projects-btns a:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow);
  background: var(--main-bg-color-1);
  cursor: pointer;
}

.projects-container .projects-body .project-data .projects-btns a:nth-child(2) {
  box-shadow: var(--box-shadow);
  cursor: pointer;
  background: var(--main-bg-color-1);
}

.projects-container
  .projects-body
  .project-data
  .projects-btns
  a:nth-child(2):hover {
  background: var(--color-bg1);
}

.projects-container .projects-body .project-data .project-info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.projects-container .projects-body .project-data .project-info p {
  font-size: 0.9rem;
}

.projects-container .projects-body .project-data .project-info .project-tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.projects-container
  .projects-body
  .project-data
  .project-info
  .project-tags
  span {
  padding: 0.2rem 0.6rem;
  font-size: 0.7rem;
  border: none;
  background: var(--card-color);
  border-radius: 1rem;
}

.projects-container
  .projects-body
  .project-data
  .project-info
  .project-info-btn {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.projects-container
  .projects-body
  .project-data
  .project-info
  .project-info-btn
  a {
  background: var(--color-bg1);
  padding: 0.5rem 1rem;
  border-radius: 0.89rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  transition: var(--transition);
  font-size: 0.9rem;
}

.projects-container
  .projects-body
  .project-data
  .project-info
  .project-info-btn
  a:hover {
  transform: scale(1.1);
  box-shadow: var(--box-shadow);
  background: transparent;
  cursor: pointer;
}

.projects-container
  .projects-body
  .project-data
  .project-info
  .project-info-btn
  a:nth-child(2) {
  transform: scale(1.1);
  background: transparent;
  cursor: pointer;
}

.projects-container
  .projects-body
  .project-data
  .project-info
  .project-info-btn
  a:nth-child(2):hover {
  background: var(--color-bg1);
  transform: scale(1.1);
  backdrop-filter: blur(10px);
  border: none;
}

/* tesimonlas */
.testimonials {
  width: 100%;
  height: 100vh;
}
.testimonials-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.testimonials-container .testimonials-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.testimonials-container .testimonials-header h1 {
  background: linear-gradient(90deg, var(--color-bg1), var(--color-bg2));
  color: transparent;
  background-clip: text;
  font-size: 48px;
  font-family: poppins, sans-serif;
  font-weight: 700;
  transition: all 0.3s ease;
}
.swiper {
  width: 80%;
  height: 100%;
  display: flex;
  cursor: grab;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* box-shadow: 0rem 4rem 5rem rgba(24, 115, 252, 0.596); */
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
  transition: var(--transition);
  background: var(--card-color);
}
.swiper:hover {
  transform: scale(1.1);
  background: linear-gradient(90deg, var(--color-bg7), var(--color-bg8));
}
.swiper-slide {
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  align-items: center;
}

.swiper-slide p {
  color: var(--white-color);
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.9rem;
}
.swiper-slide .client-img {
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, var(--color-bg3), var(--color-bg4));
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  transition: all var(--transition);
}
.swiper-slide .client-img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.swiper-slide .client-img div {
  font-size: 3rem;
  transition: var(--transition);
}
.swiper-slide .client-img:hover div {
  transform: rotate(10deg);
}
.swiper-slide .client-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper-slide .client-info h3 {
  color: var(--color-bg2);
}
/* contact */
.contact-container {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-container .contact-header h1 {
  background: linear-gradient(90deg, var(--color-bg1), var(--color-bg2));
  color: transparent;
  background-clip: text;
  font-size: 48px;
  font-family: poppins, sans-serif;
  font-weight: 700;
  transition: all 0.3s ease;
}
.contact-container .contact-container-box {
  display: flex;
  height: 100%;
  gap: 1rem;
}
.contact-left {
  width: 40%;
  height: 100%;
  display: flex;
  padding: 24px 24px;
  flex-direction: column;
}
.contact-container .contact-left .follow-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.contact-container .contact-left .follow-box ul {
  display: flex;
  gap: 1.3rem;
}
.contact-container .contact-left .follow-box ul li a {
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  background: var(--card-color);
  padding: 0.51rem 1rem;
  border-radius: 1rem;
  transition: var(--transition);
}
.contact-container .contact-left .follow-box ul li a:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.2);
}
.contact-container
  .contact-container-box
  .contact-left
  .follow-box
  ul
  li
  a
  span {
  font-size: 1.3rem;
  border-radius: 1rem;
  font-weight: 600;
}
.contact-container .contact-left .quick-info {
  display: flex;
  flex-direction: column;
  background: var(--card-color);
  border-radius: 2rem;
  gap: 1rem;
  padding: 2rem 1rem 2rem 1rem;
}
.contact-container .contact-left .quick-info span {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--white-color);
}
.contact-container .contact-left .quick-info span h6 {
  color: var(--light-color);
}
.contact-container .contact-container-box .contact-left .quick-info li {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contact-container .contact-container-box .contact-left .quick-info li a {
  display: flex;
  gap: 1rem;
  color: var(--color-bg2);
  align-items: center;
  word-spacing: 2rem;
  font-size: 15px;
}

.contact-right {
  width: 55%;
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container .contact-container-box .contact-right form {
  border: none;
  /* box-shadow: var(--box-shadow); */
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 30px 24px;
  z-index: 66;
  border-radius: 2rem;
  gap: 2rem;
  width: 90%;
  height: 100%;
  background: linear-gradient(90deg, var(--color-bg7), var(--color-bg8));
}
.contact-container .contact-container-box .contact-right form .input-feilds {
  display: flex;
  gap: 17px;
  width: 100%;
}
.contact-container
  .contact-container-box
  .contact-right
  form
  .input-feilds
  .input-box {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-container
  .contact-container-box
  .contact-right
  form
  .input-feilds
  .input-box
  input {
  border-radius: 1rem;
  outline: none;
  width: 100%;
  background: var(--input-color);
  color: var(--white-color);
  border: none;
}
.contact-container .contact-container-box .contact-right form .input-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.contact-container
  .contact-container-box
  .contact-right
  form
  .input-box:nth-child(3),
.contact-container
  .contact-container-box
  .contact-right
  form
  .input-box:nth-child(4) {
  width: 100%;
}
.contact-container .contact-container-box .contact-right form .input-box input {
  padding: 1rem;
  border-radius: 1rem;
  background: var(--input-color);
  color: var(--white-color);
  outline: none;
  border: none;
}
.contact-container
  .contact-container-box
  .contact-right
  form
  .input-box
  textarea {
  padding: 1rem;
  border-radius: 1rem;
  background: var(--input-color);
  color: var(--white-color);
  outline: none;
  border: none;
  height: 130px;
}
.contact-container .contact-container-box .contact-right form button {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 3rem;
  border-radius: 1rem;
  width: fit-content;
  color: var(--white-color);
  font-weight: 600;
  border: none;
  cursor: pointer;
  border: 2px solid var(--color-bg2);
  gap: 1rem;

  transition: var(--transition);
}
.contact-container .contact-container-box .contact-right form button:hover {
  box-shadow: var(--box-shadow);
}

/* footer */
.footer footer {
  height: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer footer h1 {
  background: linear-gradient(90deg, var(--color-bg2), var(--white-color));
  color: transparent;
  background-clip: text;
  font-size: 28px;
  font-family: poppins, sans-serif;
  font-weight: 600;
  transition: all 0.3s ease;
}

.footer footer .footer-boxs {
  width: 100%;
  height: 35%;
  display: flex;
  gap: 2rem;
}
.footer footer .footer-boxs .footer-1 {
  padding: 2rem 3rem;
  width: 40%;
  height: 100%;
  display: flex;
  border-radius: 2rem;
  flex-direction: column;
  background: linear-gradient(90deg, var(--color-bg7), var(--color-bg8));
  gap: 1.3rem;
}
.footer footer .footer-boxs .footer-1 p {
  width: 100%;
}
.footer footer .footer-boxs .footer-1 ul {
  display: flex;
  gap: 2rem;
}
.footer footer .footer-boxs .footer-1 ul {
  display: flex;
  gap: 0.4rem;
  width: 100%;
}
.footer footer .footer-boxs .footer-1 ul li a {
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  background: var(--card-color);
  padding: 0.51rem 1rem;
  border-radius: 1rem;
  transition: var(--transition);
}
.footer footer .footer-boxs .footer-1 ul li a:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.2);
}
.footer footer .footer-boxs .footer-1 ul li a span {
  font-size: 1.3rem;
  border-radius: 1rem;
  font-weight: 600;
}

.footer footer .footer-boxs .footer-2 {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer footer .footer-boxs .footer-2 ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.footer footer .footer-boxs .footer-3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer footer .footer-boxs .footer-3 ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
}
.footer footer .copyright-tag {
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: serif;
  width: 100%;
  align-items: flex-start;
  font-family: poppins, sans-serif;
}
/* media qurey tabletes */
@media screen and (max-width: 1035px) {
  /* body {
    background: green;
  } */
  .menu-btn {
    position: sticky;
    top: 20px;
    left: 86%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .menu-btn .fa-bars,
  .menu-btn .fa-x {
    position: absolute;
  }
  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--main-bg-color);
    display: none;
    border-radius: 1px;
    justify-content: space-around;
    align-items: center;
    z-index: 998;
    animation: fadeSlideUp var(--transition) ease forwards;
  }
  .navigation nav ul li a {
    font-size: 1.3rem;
  }
  @keyframes fadeSlideUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .navigation nav {
    height: 100%;
    width: 100%;
    border-radius: unset;
  }
  .window-scroll {
    border: none;
  }
  .navigation .logo {
    font-size: 36px;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 0.85rem;
  }
  .Portfolio-hero .portfolio-box article h1 {
    font-size: 4rem;
  }
  .Portfolio-hero .portfolio-box article h1:nth-child(2) {
    font-size: 4rem;
  }

  .about__container {
    flex-direction: column;
    gap: 3rem;
  }
  .about__container .about__left {
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .about__container .about__right {
    width: 100%;
    padding: 2rem 3rem;
    justify-content: center;
    align-items: center;
  }
  /* .about__container .about__left .color-ball,
  .about__container .about__left .color-ball-2,
  .about__container .about__left .color-ball-3 {
    display: none;
  } */
  .contact-container .contact-container-box {
    display: flex;
    height: 100%;
    gap: 2rem;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
  }
  .contact-left {
    width: 100%;
  }
  .contact-right {
    width: 100%;
  }
  .contact-container .contact-left .follow-box ul {
    flex-wrap: wrap;
  }
  .footer footer .footer-boxs .footer-1 {
    padding: 1rem 1rem;
  }
}
@media screen and (max-width: 768px) {
  .navigation nav .logo{
    font-size: 26px;
  }
  .navigation .nav ul{
    gap: 12px;
  }
  .swiper-slide p {
    font-size: 0.89rem;
  }
  .about__container .about__left .color-ball-2 {
    right: 100px;
  }
  .swiper-slide .client-img {
    width: 5rem;
    height: 5rem;
  }
  .swiper-slide .client-img div {
    font-size: 2rem;
  }
  .contact-container .contact-container-box .contact-right form .input-feilds {
    flex-direction: column;
    width: 100%;
  }
  .contact-container
    .contact-container-box
    .contact-right
    form
    .input-feilds
    .input-box {
    width: 100%;
  }
  .count-boxes {
    justify-content: center;
  }
  .contact-container .contact-left .follow-box {
    align-items: center;
    justify-content: center;
  }
  footer .footer-boxs {
    flex-direction: column;
    justify-content: center;
  }
  .footer footer .footer-boxs .footer-1 {
    width: 100%;
  }
  .footer footer .footer-boxs .footer-2 {
    width: 100%;
    align-items: center;
  }
  .footer footer .footer-boxs .footer-2 ul {
    flex-direction: row;
    gap: 3rem;
  }
  .footer footer .footer-boxs .footer-3 {
    width: 100%;
    align-items: center;
  }
  .footer footer .footer-boxs .footer-3 ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 582px) {
  h1 {
    font-size: 1.4rem;
  }
  .my-skills h2 {
    font-size: 28px;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.9rem;
  }
  h5 {
    font-size: 0.7rem;
  }

  section {
    padding: 1rem 2rem;
  }
  .navigation .logo {
    font-size: 20px;
  }
  .navigation nav ul {
    gap: 16px;
  }
  .navigation nav ul li a{
    font-size: 1rem;
  }
  .swiper-slide .client-img {
    width: 4rem;
    height: 4rem;
  }
  .swiper-slide .client-img div {
    font-size: 1.1rem;
  }
  .swiper-slide p {
    font-size: 10px;
  }
  h1 {
    font-size: 22px;
  }
  .about__container .about__left .color-ball-2 {
    right: 20px;
  }

  .my-skills .skills-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .my-skills .skills-cards .skill-card {
    width: 50%;
  }
  .Portfolio-hero .portfolio-box .hero-btns a {
    padding: 1rem 1.4rem;
  }
  .Portfolio-hero .portfolio-box article h1 {
    font-size: 3.5rem;
  }
  .Portfolio-hero .portfolio-box article h1:nth-child(2) {
    font-size: 3rem;
  }
  .footer footer .footer-boxs .footer-2 ul {
    flex-direction: column;
    gap: 1rem;
  }
  .footer footer .footer-boxs .footer-3 ul {
    flex-direction: column;
  }
  .footer footer .copyright-tag {
    font-size: 1rem;
    word-spacing: 0;
  }
  .about__right h1 {
    font-size: 2rem;
  }

  .projects-container .projects-header p {
    width: 100%;
  }

  .testimonials-container .testimonials-header h1 {
    font-size: 2rem;
  }

  .contact-container .contact-header h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 460px) {
  .navigation nav .logo {
    font-size: 12px;
  }
  .swiper-slide p {
    line-height: 26px;
    padding: 2px;
  }
  .navigation nav ul{
    gap: 6px;
  }
  .navigation nav ul li a {
    font-size: 12px;
    gap: 10px;
  }
  .my-skills h2 {
    font-size: 20px;
  }

  .about__container .about__left .color-ball {
    top: -20px;
    width: 1rem;
    height: 1rem;
  }

  .about__container .about__left .color-ball-2 {
    right: 52px;
  }
  .about__container .about__left .color-ball-3 {
    bottom: 74px;
    left: 20px;
  }
  .Portfolio-hero .portfolio-box article {
    margin-top: 3rem;
    word-spacing: 1px;
  }
  .Portfolio-hero .portfolio-box article h1 {
    font-size: 2.3rem;
  }
  .Portfolio-hero .portfolio-box article h1:nth-child(2) {
    font-size: 2rem;
  }
  .Portfolio-hero .portfolio-box article h4 {
    font-size: 15px;
  }
  .Portfolio-hero .portfolio-box .hero-btns a {
    padding: 0.78rem 0.66rem;
    font-size: 0.76rem;
  }
  .portfolio-image {
    width: 250px;
    height: 250px;
  }
  .about__container .about__right {
    padding: 0.11rem;
  }
  .my-skills .skills-cards .skill-card {
    width: 70%;
  }
  .contact-container .contact-header h1 {
    font-size: 22px;
  }
  .contact-container .contact-header p {
    font-size: 15px;
  }
  .swiper-slide p {
    padding: 4px;
  }
  .contact-left {
    padding: 0;
  }
  .contact-right {
    padding: 0;
  }
  .contact-container .contact-container-box .contact-right form {
    padding: 1rem;
  }
  section {
    padding: 0.9rem;
  }
  .contact-container .contact-container-box {
    padding: 0;
  }
  .contact-container .contact-container-box p {
    text-align: center;
  }
}
